{extend name="base" /}
{block name="title"}{$title}{/block}

{block name="main"}
<!-- 中间主体内容部分 -->
<div class="pageContainer">
    <!-- 正文内容部分 -->
    <div class="pageContent">
        <div class="jumbotron">
            <h1>{$top.name}</h1>
            <p>{$top.desc}</p>
            <p><a class="btn btn-primary btn-lg" href="{$top.url}" role="button">点击更多</a></p>
        </div>
        <div class="row">
            {foreach $list as $art}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{$art.thumb}" alt="{$art.desc}">
                    <div class="caption">
                        <h3>{$art.name}</h3>
                        <p>{$art.desc}</p>
                        <p><a href="{$art.url}" class="btn btn-primary" role="button">查看详情</a></p>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
    </div>
</div>
{/block}
